@import "bootstrap";

.login {
	width: 30%;
	margin:100px auto;
}

.book-list {
	width:50%;
	margin:auto;
}

.table-list {
	margin-left:30px;
}

.big-title {
	font-size:17px;
	text-align: center;
}

.dashed-hr {
	border:1 dashed  #000000;
}
